body {
	background-image: url('/twist-os/images/IMG_20200201_094027457.jpg');
	background-repeat: no-repeat;
	background-size: 640px, 640px;
}
.dock {
	background-image: url('/twist-os/images/nonretina/iphone-ipod/dock%20half.png');
	position: fixed;
	bottom: 0;
	left: 0;
	width: 320px;
	height: 85px;
}
.tab {
	background-image: url('/images/nonretina/iphone-ipod/dock%20half2.png');
	background-size: 100%, 300%;
	position: fixed;
	bottom: 85px;
	left: 0;
	width: 320px;
	height: 22px;
}
.tab:hover {
	
}