Version:0.9
StartHTML:00000097
EndHTML:00000471
StartFragment:00000131
EndFragment:00000435
<html><body>
<!--StartFragment--><img alt="How to Install and Get Your Unity Desktop Back on Ubuntu - Make Tech Easier" class="n3VNCb" src="https://www.maketecheasier.com/assets/uploads/2019/10/install-unity-desktop-featured.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd;" style="width: 815px; height: 407.5px; margin: 0px;"><!--EndFragment-->
</body>
</html>body {
	background-image: url('/twist-os/images/IMG_20200201_094027457.jpg');
	background-repeat: no-repeat;
	background-size: 640px, 640px;
}
.dock {
	background-image: url('/twist-os/images/nonretina/iphone-ipod/dock%20half.png');
	position: fixed;
	bottom: 0;
	left: 0;
	width: 320px;
	height: 85;
}